<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
{#        {% webpack_entry_css 'build/app' %}#}
    {% endblock %}
{#    {{ marley_routes() }} #}
    <script defer src="/build/app.js"></script>
</head>
<body>
    {{ inertia(page) }}
    {% block javascripts %}
        {# {% webpack_entry_js 'build/runtime' %} #}
        {# {% webpack_entry_js 'build/app' %} #}
    {% endblock %}
</body>
</html>